.loginContainer {
  /* min-height: 100vh; */
  display: flex;
}

.leftSection {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.illustration {
  max-width: 400px;
}

.illustration img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.tagline {
  text-align: center;
}

.tagline h2 {
  margin: 0;
  font-weight: 600;
}

.hashtag {
  color: #1890ff;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.loginWrapper {
  width: 100%;
  max-width: 400px;
  padding: 0 1rem;
}

.logoSection {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  height: 32px;
  margin-right: 0.5rem;
}

.logoText {
  font-size: 1.5rem;
  font-weight: 600;
}

.welcomeTitle {
  margin-bottom: 0.5rem !important;
}

.subtitle {
  color: #596780;
  display: block;
  margin-bottom: 2rem;
  font-size: 18px;
}

.loginForm {
  margin-top: 1.5rem;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
 
}

.forgot{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-weight: 500;
}
.forgotLink {
  color: #961FFF;
}

.loginButton {
  height: 40px;
  font-weight: 500;
}

.footer {
  margin-top: 2rem;
  text-align: center;
}

.copyright {
  display: block;
  color: #FD9AB0;
  margin-bottom: 0.5rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.links a {
  color: #666;
}

.dot {
  color: #FD9AB0;
}

@media (max-width: 768px) {
  .leftSection {
    display: none;
  }
  
  .rightSection {
    padding: 1rem;
  }
}