.ant-form-item-label > label {
    font-weight: 600 !important;
  }

.nz-border {
    border: 1px solid #FEF0F2;
  }
.nz-border-horizontal {
    border-left: 0;
    border-right: 0;
  }
.nz-border-radius {
    border-radius: 8px;
  }

.nz-padding-p {
    padding: 16px;
  }
.nz-bg-w{
  background-color: #fff;
}

.nz-table .ant-table-container{
  border-radius: 0px !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.nz-select-square .ant-select-selector{
  border-radius: 0px!important;
}

.nz-input-square .ant-input{
  border-radius: 0px!important;
}

.nz-no-shadow{
  box-shadow: none!important;
}

.nz-table-footer .ant-pagination{
    background-color: rgba(0, 0, 0, 0.02) !important;
    padding: 16px !important;
    margin: 0 !important;
}
.nz-table-footer .ant-table-pagination-right{
    justify-content: flex-start!important;
}

.nz-project-modal .ant-modal-content{
  border-radius: 20px!important;
  padding: 0!important;
}

.nz-color-pink{
  color: #FD9AB0!important;
}

.nz-background-pink{
  background-color: #FD9AB0!important;
}

.nz-menu-item .ant-menu-item-selected{
  border-right:2px solid #9D45FF !important;
}
.nz-menu-item .ant-menu-item{
  margin-right: 0 !important;
  border-radius: 0 !important;
}

.nz-text-p{
  color: #596780 !important;
  font-weight: 300!important;
}

.nz-table .ant-table-cell{
  border-inline-end: 1px solid #FEF0F2!important;
  border-bottom: 1px solid #FEF0F2 !important;
}

.nz-table .ant-table-footer{
  background-color: #fff;
}

.nz-selector-pink{
  
}

